
.userLogin_join, .userLogin_out {display:none}
.userLogin_button:hover .userLogin_join{
  display:block;
}
.userLogin_button .userLogin_join { position:absolute;
  top:90%;left:-12%;bottom:0;
  background-color:#fff;
  border:1px solid #222;
  height: 100px;
  z-index:10000;
  padding-bottom: 7px;
  padding-right: 5px;
}


.userLogin_join ul {
  text-align: center;
  padding-top: 22px;
}
.userLogin_join ul li{
  width:100px
}
.userLogin_join ul li a {
  display:inline-block!important;
}
.userLogout_button .userLogin_out{
  position:absolute;
  top:100%;left:-7%;bottom:0;
  background-color:#fff;
  border:1px solid #222;
  height: 100px;
  z-index:10000;
  padding-bottom:14px
}
.userLogout_button:hover .userLogin_out{
  display:block;
}
.header_sec01 .top_search_area .userLogin_out a {font-size:1rem}
.userLogin {display:table}
.userLogin_out ul {
  padding:25px;
}
.userLogin_out ul li{

}
.userLogin_out ul li a {
  display:block !important;
}

.userLogin .xans-layout-orderbasketcount {
  /* background-color:transparent;
  color:#222; padding:0 */
    background-color: #9c60b5;
    color: #fff;
    padding: 3px 7px;
    border-radius: 20px;
    position: absolute;
    top: 14px;
    right: 41px;
    font-size: 0.8rem;
}


#searchBarForm {
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

#quick_search .quick_searchClose i {font-size:3rem;color:#fff; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
#quick_search .quick_searchClose i:hover { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);}

/* 메인슬라이드 */
#mainBanner {
position: relative;
}
#mainBanner .slick-arrow {position:absolute; top:50%;
width: 50px;
height: 50px;
background-color: transparent;
font-size: 0;
border: 1px solid #222;
transform-origin: center;
transform:translate(-50%,-50%) rotate(45deg);
border-width: 0 1px 1px 0;
z-index: 20;
}
#mainBanner button.slick-prev {border-width: 0 0 1px 1px; left:5%}
#mainBanner button.slick-next {border-width: 1px 1px 0 0; right: 5%;}

#mainBanner .slick-list{overflow:hidden}
#mainBanner {position:relative;}
#mainBanner .slick-dots {position: absolute; bottom:2%;left:50%;height:8px; transform: translateX(-50%);background-color:#fff;border-radius:20px}
#mainBanner .slick-dots li {display:inline-block; width:80px;}
#mainBanner .slick-dots li button {text-indent:-9999px; background-color:#bdbdbd; width:0; height:12px;}
#mainBanner .slick-dots li.slick-active button {background-color:#171717; width:80px;height:8px;border-radius:20px;transition:width 2s linear;}
#mainBanner.visual{text-align:left}


/* 메뉴픽스시 */
.fixed .topmenu_area {width:1100px}
#comment_top.fixed .xans-layout-category .position > ul > li {padding-top:28px}
#comment_top.fixed .xans-layout-category .position > ul > li:nth-child(7) {display:inline-block}
#comment_top.fixed .xans-layout-category .position > ul > li:nth-child(8) {display:inline-block}
#comment_top.fixed .xans-layout-category .position > ul > li > a {font-size:1.15rem}
#comment_top .xans-layout-category .position > ul > li:hover > a {color:#9c60b5}
#comment_top .xans-layout-category .position > ul > li:after {
  display: block;
  content: '';
  width: 0;
  height: 2px;
  background-color:#9c60b5;
  margin-top: 5px;
  transform: translateX(-8%);
  transition-property: all;
  transition-duration: .5s;
}
#comment_top .xans-layout-category .position > ul > li:nth-child(6):hover:after{width:110%;
transform:translateX(-3%)
}
#comment_top .xans-layout-category .position > ul > li:hover:after {
  width: 121%;
}
#comment_top.fixed .xans-layout-category .position > ul > li .sub-category {
  left:-650%;
  width:2269%;
  top:95%
}
#comment_top.fixed.header_sec01 .top_logo {
  padding-top:6px
}

/* 추천, 뉴 버튼 */
.ec-base-product .recommend .description .icon .icon_img {position:absolute;top:-202px;left:7px}
.ec-base-product .recommend .description .icon .img {position:absolute;top:-210px;}
.ec-base-product .recommend .description .icon img:nth-child(2) {left:45px;content:url(/web/upload/img/new_thumb.png)}
.ec-base-product .recommend .description .icon .icon_img:first-child {content:url(/web/upload/img/hot_thumb.png)}


/* 추천상품 */
#category .position > ul {text-align:center; }
#main_area .m_title02 span {font-size:1.2rem;}
#main_area .m_title_area .m_title01 span {font-size:2.5rem;}

#main_area .ec-base-product .prdList .description .name a span {font-size:1.3rem!important;}
#main_area .ec-base-product .spec li:nth-child(2), #main_area .ec-base-product .spec li:nth-child(3){display:inline-block;}
#main_area .ec-base-product .spec li:first-child {padding-top:20px}
#main_area .ec-base-product .spec li:nth-child(2) {padding-right:5px}
#main_area .ec-base-product .spec li span {font-size:1.1rem!important}
#main_area .ec-base-product ul.grid5 > li {width:18%}
#main_area .ec-base-product .prdList > li {margin:0 10px}
#main_area .ec-base-product .prdList > li:first-child {margin-left:20px}
#main_area .ec-base-product .prdList .description .button .cart{
  position: absolute;
  top: 10px;
  right: 48px;
}
/* 상단 슬라이드 */
#header .hadertest {
  display:flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap:wrap-reverse;
  position:relative;
}
.xans-board-listpackage {margin-top:0}

#header .inner {width:1280px;margin:0 auto}
#notice {justify-content:space-between;align-items:top;
  width:1280px;margin:0 auto; text-align:center;
  line-height:40px;height:40px;overflow:hidden;
}
#notice h2 {display:none}
#notice li a {font-size:1rem;color:#fff}
#header:before {content:"";display:block;top:0;left:0;right:0;
position:absolute; height:40px;background-color:black}

#rollingNotice button { position: absolute;
    top: 8px;
    right: 20%;
    width: 13px;
    height: 13px;
    background-color: transparent;
    font-size: 0;
    border: 2px solid #fff;
    transform-origin: center;
    transform: rotate(45deg);
    border-width: 0 2px 2px 0; }
#rollingNotice button.slick-prev {display:none!important}
#rollingNotice .slick-track .title {padding-right:20px}


/* 인스타 */
#main_area div#slideshow-main-container {border:0!important;}
#main_area .insta_section {margin-bottom:100px}
.m_insta.cboth {font-size:2rem}
.m_name.cboth {font-size:1.2rem}

/* 장바구니, 찜하기 */
#main_area .ec-base-product .prdList .thumbnail .wish{right: 11px; bottom: -43px;}
#main_area .ec-base-product .prdList .thumbnail .wish img {width:30px;}


/* 서브메뉴 */
#header .xans-layout-category .position > ul > li .sub-category {
  position:absolute;top:100%;
  left:-681%;width:2125%;height:700px;
  background-color:rgba(0,0,0,.8);
  z-index:100;
}
#header .sub-category .cate_d2 .subListMenu li a {
   color:#fff;
   font-size: 1rem;
   margin: 20px;
 }
 #header .sub-category .cate_d2 .subListMenu li:hover a{
   color:#c875eb
 }
#header .sub-category .cate_d2 {
   display:flex;
   justify-content:space-between;
   padding: 0 106px;
  padding-top: 68px;
  padding-right: 163px
 }

#header .sub-category .subListMenu:after {
  display:block;
  width:2px;
  height:67%;
  background-color:#fff;
  content:'';
  position:absolute;
  top: 9%;
  left: 23%;
}


 #header .sub-category .cate_d2 img{
  width:450px;
  margin:0 20px;
 }


/* 메인화면 네일상품 노출 */
.ec-base-product ul.grid3.naile_main > li {width:30%}
#header .xans-layout-category .position > ul > li:nth-child(7), #header .xans-layout-category .position > ul > li:nth-child(8){display:none}
#main_area .ec-base-product .prdList.naile_main > li {margin:10px 20px}
#main_area .ec-base-product .prdList.naile_main > li:hover.cart {z-index:300}
.preview__placeholder--grid-content {border:0}


/* 제품에 호버시 나타남 */

.hover_img {
  position:absolute;
  top:0;right:0;
  border-radius:20px;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.ec-base-product ul > li:hover .hover_img {
  display:block;
  opacity: 1;
  border-radius:10px
}

.ec-base-product ul > li .hover_img_line {
  box-sizing: border-box;
	width: 0px;
	height: 8px;
	background-color: orange;
	transition-property: all;
	transition-duration: 2s;
  position:absolute;
  bottom:-1px
}
.ec-base-product ul > li:hover .hover_img_line {
  width: 100%;
}

.ec-base-product .icon2 {display:none;position:absolute;bottom:0;}
.main_nailePd {margin-top:100px; text-align:center;}
.main_nailePd .m_title01 span {font-size:2rem;font-weight:bold}
.main_nailePd .m_title02 span {font-size:1rem}
.main_nailePd .m_title02 { padding-bottom: 20px; padding-top: 4px;
}




/* 메인화면 기획1-pinkduu */
.main_flex {display:flex;align-items:flex-start; justify-content:flex-start;}
 .pinkduu_tit .m_title01 {padding-top: 103px;}
.ec-base-product.pinkduu .prdList .thumbnail .prdImg {width:300px;}
.ec-base-product.pinkduu .prdList .thumbnail .prdImg img {border-radius:20px}
.ec-base-product.pinkduu .prdList {padding-left: 10px; margin-top: 80px;}
.pinkduu_tit {background:url("/web/upload/img/ororaback.jpg");background-repeat:no-repeat;background-position: center;padding-bottom: 100px;
padding-top: 30px;}
.pinkduu_tit .m_title02 {padding-bottom:40px}
.pinkduu_tit .m_title01 span {display:block}
.pinkduu_tit .m_title01 span:first-child {font-size:1.5rem !important}
.pd_youtube iframe {border-radius:20px}
#main_area .ec-base-product.pinkduu .prdList .description .button .cart {top: 18px; right: 53px;}
#main_area .ec-base-product.pinkduu .prdList .thumbnail .wish {right: 16px; bottom: -61px;}
.ec-base-product.pinkduu .prdList .description {
  padding: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-top: 10px;}

/* pinkduu 제품 호버시 나타남 */
.pinkduu_subTit .pinkduu_sub1 {
  font-size:1rem;
  display: inline-block;
  color: #fff;
  padding: 20px;
  vertical-align: middle;
}
.pinkduu_subTit .pinkduu_sub1:first-child{
  font-size:1.7rem;
  margin-top: 90px;
}
.pinkduu_subTit {
  display:none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:200;
  background-color: rgba(255,142,224,.8);
  height: 100%;
  width: 100%;
  border-radius:20px;
}
.pinkduu_subTit .pinkduu_link {
  display:block;
  font-size: 1rem;
  color: #fff;
  margin-top:31px
}
.pinkduu_subTit .pinkduu_link span {
  border:1px solid #fff;
  padding: 10px 15px;
  border-radius:23px
}
.pinkduu_subTit .pinkduu_link span {
  width:0;
  height:100%;
  transition-property: all;
  transition-duration: .5s;
}

.pinkduu_subTit .pinkduu_link:hover span{
  background-color:#da47b2
}

.pinkduu_tit .prdList li>.thumbnail:hover .pinkduu_subTit{
  display:block
}




/* 메인화면 기획2-summerpack */
#main_area .main_summer .m_title_area .m_title01 span {
  font-size:2.8rem;
  position:absolute;
  top: 4%;
  right: 50%;color:#fff;
  transform: translate(50%);
}
.main_summer {position:relative;background:url("/web/upload/img/background_pool.jpg")
no-repeat; background-position: center;padding-bottom:120px;padding-top:447px;}
.main_summer .ec-base-product .prdList .description{
  padding: 20px;
  padding-left: 15px;
  padding-bottom: 10px;}

.main_summer .width1280 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

.main_summer .ec-base-product .prdList .thumbnail a img {
  width: 210px;
}
.pd_margin {margin:0 auto}
.main_summer .ec-base-product .prdList .thumbnail a .hover_img {width:100%;border-radius:0}
.main_summer .ec-base-product .prdList .thumbnail .prdImg {background-color:#fff;}
.main_summer .ec-base-product .prdList .thumbnail .hover_img_line {height:5px;}



/* 메인화면 이벤트 배너 */
.main_event img {width:500px!important;border-radius:20px}
.main_event .xans-element- {margin:0 10px}
.main_event {display:flex;justify-content:center}
.main_event_tit .m_title_area .m_title02 {padding-bottom:20px}
.main_event_tit {padding-bottom:100px}


/* 메인화면 페디 */
.main_pediPd .description .xans-product >li {display:none;}
.main_pediPd .description .xans-product >li:first-child {display:inline-block}
.main_pediPd .description .xans-product >li .title {display:none}
#main_area .ec-base-product .prdList .description .name a .title {display:none}
#main_area .main_pediPd .description .xans-product >li:nth-child(2) span{color:#008BCC!important}
.main_pediPd .ec-base-product .prdList .description .name {margin-top:10px}

/* footer */

#footer {background-color:#fff;border-top:1px solid #222;}



/* 퀵메뉴 */

#quick {
  position: fixed;
  right: 2%;
  text-align: center;
  z-index: 300;
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
  bottom: 1rem;
  top: unset !important;
}
.move {
    transition: all 0.3s;
}

#quick .xans-layout-orderbasketcount {
  background-color:
}

#quick .quick_myNote span, #quick .quick_mySite span, #quick .quick_mySite a {
  display:block;
  text-align:center;
  margin-bottom:15px;
  margin-top:5px;
}
#quick .quick_myNote span {cursor:pointer;}
#quick i {font-size:2.2rem; color:hotpink}

#quick .pageTop {margin-top:20px}
#quick .quick_cart {margin-bottom:20px}
#quick .xans-layout-productrecent {
    border-radius: 10px;
    background-color: #ffe9f4;}

#quick .player i {
  font-size:2rem;
  color:#222
}
#quick .heeminNote, #quick .heeminSite{
  display:none;
}
#quick .quick_mySite span:first-child {margin-bottom:0}
#quick .heemin_logo {width:60px}
#quick .quick_mySite .heemin_logo path {fill:hotpink}

#quick .heeminNote{
  position:fixed;top:0;right:0;bottom:0;left:0;
  background-color:rgba(0,0,0,0.8);
  z-index:10000
}

#quick .heeminNote .close_button{
  position: absolute;
  top: 48px;
  right: 301px;
  transition: all ease 1s;
}
#quick .heeminNote img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  }

#quick .heeminNote .close_button i {font-size:3rem}
#quick .heeminNote .close_button:hover {transform: rotate( 270deg );}

/* footer */
#footer {padding-left:20px}
.footer_section02  {padding:0 20px}
.footer_section01 a {padding-left:10px}



/* 기획전 */
.xans-project-package .banner img {display:block;width:100%; max-width:960px; margin:0 auto}
#planPage .ec-base-product .planList > li {margin:0 100px}
#planPage .ec-base-product .planList .wish {position:absolute; bottom: -46px; right: 42px;}
#planPage .ec-base-product .planList .name a span {font-size:1.5rem!important}
#planPage .ec-base-product .planList .description li span {font-size:1.1rem!important}
