<div id="footer" class="cboth">
	<div class="footer_section01 cboth">
		<div class="fleft ft_logo" module="custom_moduleedit_204"><a href="/"><img src="/web/upload/img/logo.png"></a></div>
	</div><!-- //footer_section01 -->

	<div class="footer_section02 cboth">
		<div class="cboth ft_copy" module="Layout_footer">
			<div class="fleft">
				COMPANY : {$company_name} &nbsp;&nbsp;&nbsp; OWNER : {$president_name} &nbsp;&nbsp;&nbsp; CALL : {$phone} &nbsp;&nbsp;&nbsp; FAX : {$fax}<br>
				ADDRESS : {$mall_zipcode} {$mall_addr1} {$mall_addr2} &nbsp;&nbsp;&nbsp; BUSINESS LICENSE : {$company_regno} {$biz_no_link}<br>
				ONLINE ORDER LICENSE : {$network_regno} &nbsp;&nbsp;&nbsp; CPO : <a href="mailto:{$cpo_email}">{$cpo_name}({$cpo_email})</a><br>
				HOSTING : CAFE24 CORP &nbsp;&nbsp;&nbsp; PG ESCROW : KG INISIS<br>
				Copyright {$mall_name}. All rights reserved.

				<div class="cs_center"><!-- 운영시간 -->
					{$runtime}<br>
				</div>
			</div>
			<div class="fright sns"><!-- 하단 SNS 링크수정 -->
				<ul>
				<li><a href="https://www.youtube.com/?gl=KR" target="_blank">#YOUTUBE</a></li>
				<li><a href="https://www.instagram.com/?hl=ko" target="_blank">#INSTAGRAM</a></li>
				<li class="last"><a href="https://ko-kr.facebook.com/" target="_blank">#FACEBOOK</a></li>
				</ul>
			</div>
		</div>
		<div class="cboth ft_copy2">
			<ul>
				<li><a href="/shopinfo/company.html">ABOUT US</a></li>
				<li><a href="/member/agreement.html">AGREEMENT</a></li>
				<li><a href="/member/privacy.html" class="policy">PRIVACY POLICY</a></li>
				<li><a href="/shopinfo/guide.html">GUIDE</a></li>
			</ul>
			<ul module="Layout_multishopListitem">
				<li><a href="//{$shop_domain}/"><img src="//img.cafe24.com/img/common/global/{$language}_32x24.png" alt="" /></a></li>
				<li><a href="//{$shop_domain}/"><img src="//img.cafe24.com/img/common/global/{$language}_32x24.png" alt="" /></a></li>
			</ul>
		</div>
	</div><!-- //footer_section02 -->
</div><!-- //footer -->
